body {
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  background-color: rgb(17, 17, 17);
  padding: 1.1rem;
  border-radius: 20px;
  aspect-ratio: 5/4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  width: 20rem;
}

.outputScreen {
  height: 100%;
  width: 100%;
  grid-area: 1 / 1 / 2 / 5;
  aspect-ratio: 4/1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.output {
  margin: 0 10px;
  font-size: 2.5rem;
  color: antiquewhite;
  overflow: hidden;
}

.btn {
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  aspect-ratio: 1/1;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn:hover {
  background-color: rgb(156, 156, 156);
}

.orange:hover {
  background-color: antiquewhite;
  color: orange;
}

.zero {
  border-radius: 20rem;
  grid-area: 6 / 1 / 7 / 3;
  aspect-ratio: auto;
  place-content: unset;
  padding-left: 25%;
}

.num {
  background-color: rgb(70, 70, 70);
  color: rgb(239, 239, 239);
}

.orange {
  background-color: orange;
  color: rgb(239, 239, 239);
}